<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title">Edit <%= @user.full_name %></h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
          <%= f.error_notification %>

          <div class="field">
            <div class="control">
              <%= f.input :email, 
                          required: true,
                          autofocus: true,
                          wrapper: false,
                          label: "Email:",
                          input_html: { class: "input" },
                          label_html: { class: "label" } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          required: false,
                          wrapper: false,
                          label: "New Password:",
                          input_html: { class: "input", autocomplete: "new-password" },
                          label_html: { class: "label" } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { class: "input",autocomplete: "new-password" },
                          wrapper: false,
                          label: "Confirm new password:",
                          label_html: { class: "label" } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :current_password,
                          hint: "we need your current password to confirm your changes",
                          required: true,
                          input_html: { autocomplete: "current-password", class: "input" },
                          wrapper: false,
                          label: "Current Password:",
                          label_html: { class: "label" } %>
            </div>
          </div>
          <%= f.button :submit, "Update" %>
        <% end %>
        <br>
        <h3><b>Unhappy with our service?</b></h3>
        <% if current_user.first_name == 'Odin' %>
          <p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, disabled: true, class: "button is-danger" %></p>
        <% else %>
          <p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger" %></p>
        <% end %>
        <br>
        <%= button_to "Back", :back, class: "button is-info" %>

      </div>
    </div>
  </div>
</div>
