<div id="<%= dom_id post %>"class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= image_tag "https://static.thenounproject.com/png/574704-200.png", alt: "Placeholder image" %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= post.title %></p>
        <p class="subtitle is-6"><%= post.author.full_name %></p>
      </div>
    </div>
    <div class="content">
      <%= post.body %>
      <br>
      <p class="subtitle is-7">
        <time datetime="2016-1-1"><%= post.created_at.strftime("%B %d, %Y") %></time>
      </p>
    </div>
  </div>
  <footer class="card-footer">
    <% if current_page?(post_path(post)) %>
      <% if post.liked_by(current_user) %>
        <%= button_to like_path(post.userLike(current_user)),  method: :delete, class: "button card-footer-item" do %>
          <span class="icon">
            <%= image_tag("heart.svg") %>
          </span>
          <span>Unlike</span>
        <% end %>
      <% else %>
        <%= button_to likes_path, params: {likeable_id: post.id, likeable_type: 'Post'}, method: :post, class: "button card-footer-item" do %>
          <span class="icon">
            <%= image_tag("heart-outline.svg") %>
          </span>
          <span> Like</span>
        <% end %>
      <% end %>
      <% if current_user == post.author %>
        <a href="<%= edit_post_path(post) %>" class="card-footer-item">Edit</a>
        <a href="<%= post_path(post) %>" data-method="delete" class="card-footer-item">Delete</a>
      <% end %>
    <% end %>
  </footer>
