<div id="<%= dom_id post %>"class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= image_tag "https://bulma.io/images/placeholders/96x96.png", alt: "Placeholder image" %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= post.title %></p>
        <p class="subtitle is-6"><%= post.author.full_name %></p>
      </div>
    </div>
    <div class="content">
      <%= post.body %>
      <br>
      <p class="subtitle is-7">
        <time datetime="2016-1-1"><%= post.created_at.strftime("%B %d, %Y") %></time>
      </p>
    </div>
  </div>
  <% if current_page?(post_path(post)) && current_user == post.author %>
    <footer class="card-footer">
      <a href="<%= edit_post_path(post) %>" class="card-footer-item">Edit</a>
      <a href="<%= post_path(post) %>" data-method="delete" class="card-footer-item">Delete</a>
    </footer>
  <% end %>
</div>
