<div class="navbar">
  <div class="navbar-brand">
    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <h1 id="top-left-title" class="title">Fakebook</h1>
      <% end %>
    </div>
    <div class="navbar-start">
      <div class="navbar-item">
        <p class="control"><u><%= link_to "About", about_path, class: "has-text-black" %></u></p>
      </div>
    </div>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item">
          <div class="dropdown is-right" id="notif-dd">
            <div class="dropdown-trigger">
              <span class="icon">
                <%= image_tag("bell-ring-outline.svg") %>
              </span>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <% if @notifications.empty? %>
                  <p class="dropdown-item">You have no new notifications!</p>
                <% else %>
                  <%= render 'layouts/notifications' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-item" id="dd">
          <%= render "users/profile_drop"%>
        </div>
      <% else %>
        <div class="navbar-item">
          <p class="control"><%= link_to "Login", new_user_session_path, class: "has-text-black" %></p>
        </div>
        <div class="navbar-item">
          <p class="control"><%= link_to "Sign Up", new_user_registration_path, class: "has-text-black" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
